<html style="height:100vh;">
	<head>
			<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js"
			crossorigin="anonymous"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js"
			crossorigin="anonymous"></script>
		<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.2.min.js"
			crossorigin="anonymous"></script>
	</head>
	<body style="height:100vh;">
		<div style="height: 100%">
			<H1>Science Graph. <a href="https://github.com/marcus-o/sciencegraph/">Code on Github.</a> By Marcus 2020.</H1>
			<form action="/">
				Search the Microsoft Academic Graph:
				<input name="query", value="{{ query }}"/>
				<select name="n">
					{% for n in ns %}
						{% if n == cn %}
							<option selected value="{{ n }}">{{ n }}</option> 
						{% else %} 
							<option value="{{ n }}">{{ n }}</option> 
						{% endif %}
					{% endfor %}
				</select>
				<input type="submit">
			</form>
			{{ script|safe }}
			<div style="height: 70%">
				{{ div|safe }}
			</div>
			<div id="showpaper"></div>
		</div>
	</body>
</html>